# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
NODE_ENV=development

# Authentication (NextAuth.js)
NEXTAUTH_URL=http://localhost:3000
# https://generate-secret.vercel.app/32
NEXTAUTH_SECRET=

# https://console.cloud.google.com/apis/credentials
# Callback URL: http://localhost:3000/api/auth/callback/google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# https://github.com/settings/applications
# Callback URL: http://localhost:3000/api/auth/callback/github
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# Database
DATABASE_URL="mysql://user:pass@localhost:3306/mydb?schema=public"